[submodule "src/plugins/intel_cpu/thirdparty/onednn"]
	path = src/plugins/intel_cpu/thirdparty/onednn
	url = git@github.com:openvinotoolkit/oneDNN.git
	ignore = dirty
[submodule "thirdparty/xbyak"]
	path = thirdparty/xbyak
	url = git@github.com:herumi/xbyak.git
	ignore = dirty
[submodule "thirdparty/zlib/zlib"]
	path = thirdparty/zlib/zlib
	url = git@github.com:madler/zlib.git
	ignore = dirty
[submodule "thirdparty/pugixml"]
	path = thirdparty/pugixml
	url = git@github.com:zeux/pugixml.git
	ignore = dirty
[submodule "thirdparty/gflags/gflags"]
	path = thirdparty/gflags/gflags
	url = git@github.com:gflags/gflags.git
	ignore = dirty
[submodule "thirdparty/gtest/gtest"]
	path = thirdparty/gtest/gtest
	url = git@github.com:openvinotoolkit/googletest.git
	ignore = dirty
[submodule "thirdparty/ocl/icd_loader"]
	path = thirdparty/ocl/icd_loader
	url = git@github.com:KhronosGroup/OpenCL-ICD-Loader.git
	ignore = dirty
[submodule "thirdparty/ocl/cl_headers"]
	path = thirdparty/ocl/cl_headers
	url = git@github.com:KhronosGroup/OpenCL-Headers.git
	ignore = dirty
[submodule "thirdparty/ocl/clhpp_headers"]
	path = thirdparty/ocl/clhpp_headers
	url = git@github.com:KhronosGroup/OpenCL-CLHPP.git
	ignore = dirty
[submodule "thirdparty/onnx"]
	path = thirdparty/onnx/onnx
	url = git@github.com:onnx/onnx.git
[submodule "thirdparty/protobuf"]
	path = thirdparty/protobuf/protobuf
	url = git@github.com:protocolbuffers/protobuf.git
[submodule "src/bindings/python/thirdparty/pybind11"]
	path = src/bindings/python/thirdparty/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "thirdparty/ittapi/ittapi"]
	path = thirdparty/ittapi/ittapi
	url = git@github.com:intel/ittapi.git
[submodule "ncc"]
	path = cmake/developer_package/ncc_naming_style/ncc
	url = git@github.com:nithinn/ncc.git
[submodule "thirdparty/onednn_gpu"]
	path = src/plugins/intel_gpu/thirdparty/onednn_gpu
	url = git@github.com:oneapi-src/oneDNN.git
[submodule "thirdparty/json/nlohmann_json"]
	path = thirdparty/json/nlohmann_json
	url = git@github.com:nlohmann/json.git
	shallow = true
[submodule "thirdparty/flatbuffers/flatbuffers"]
	path = thirdparty/flatbuffers/flatbuffers
	url = git@github.com:google/flatbuffers.git
[submodule "thirdparty/snappy"]
	path = thirdparty/snappy
	url = git@github.com:google/snappy.git
[submodule "ARMComputeLibrary"]
	path = src/plugins/intel_cpu/thirdparty/ComputeLibrary
	url = git@github.com:ARM-software/ComputeLibrary.git
	ignore = dirty
[submodule "src/plugins/intel_cpu/thirdparty/mlas"]
	path = src/plugins/intel_cpu/thirdparty/mlas
	url = git@github.com:openvinotoolkit/mlas.git
[submodule "thirdparty/level_zero/level-zero"]
	path = thirdparty/level_zero/level-zero
	url = git@github.com:oneapi-src/level-zero.git
[submodule "src/plugins/intel_npu/thirdparty/level-zero-ext"]
	path = src/plugins/intel_npu/thirdparty/level-zero-ext
	url = git@github.com:intel/level-zero-npu-extensions.git
[submodule "src/plugins/intel_npu/thirdparty/yaml-cpp"]
	path = src/plugins/intel_npu/thirdparty/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "thirdparty/telemetry"]
	path = thirdparty/telemetry
	url = git@github.com:openvinotoolkit/telemetry.git
[submodule "src/plugins/intel_cpu/thirdparty/libxsmm"]
	path = src/plugins/intel_cpu/thirdparty/libxsmm
	url = git@github.com:libxsmm/libxsmm.git
[submodule "src/plugins/intel_cpu/thirdparty/shl"]
	path = src/plugins/intel_cpu/thirdparty/shl
	url = git@github.com:openvinotoolkit/shl.git
[submodule "src/plugins/intel_cpu/thirdparty/kleidiai"]
	path = src/plugins/intel_cpu/thirdparty/kleidiai
	url = git@github.com:ARM-software/kleidiai.git
[submodule "src/plugins/intel_cpu/thirdparty/xbyak_riscv"]
	path = src/plugins/intel_cpu/thirdparty/xbyak_riscv
	url = git@github.com:herumi/xbyak_riscv.git
